%label-restaurant, .label-restaurant  {
    font-family: 'styrene';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 18px;
    font-size: 14px;
}
%label-country, .label-country {
    font-family: 'caponi';
    font-style: italic;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
}
%label-site, .label-site {
    @extend %label-restaurant;
    letter-spacing: 0px;
    font-size: 15px;
    line-height: 21px;
    text-transform: none;
}
